@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2a2a2a;
  --secondary: #3c3c3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-lg1: 1200px;
  --breakpoint-lg2: 1300px;
  --breakpoint-xl: 1580px;
  --breakpoint-2xl: 2000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}








.PhoneInputInput{
  border: none !important;
  outline: none !important;
  background: transparent;
}
html {
  scroll-behavior: smooth;
}
.PhoneInputCountrySelect{
  color: black !important;
}

/* ✅ Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;             /* Chrome, Safari, Opera */
}

.gmnoprint{
  display: none !important;
}



.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
 
  padding: 10px;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9 !important;
  }

  /* ✅ Hide top/bottom arrow buttons */
  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  /* Some systems still reserve space — force remove */
  &::-webkit-scrollbar-button:single-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}
